p::first-letter {
    font-size: 40px;
    color: darkgreen;
}

a {
    color: darkgreen;
}

a:visited {
    color: maroon;
}

a:hover {
    background-color: yellow;
}

a:active {
    color: blue;
}